*.swo
*.swp
*.pyc
data/*.tsv.gz
data/*.fasta*.gz
data/*_nr.*
taxonomy/
sifts/
interim/
weekly/
weekly.html
pubmed/
m-csa/
enzyme/
obo/
pdb/
bind/index/INDEX_*
bind/pocket/*.pdb
bind/ligand/*.mol2
bind/*.gz
bind/Download.jsp
bind/*.zip
bind/every.csv
download/lig_frequency.txt
download/BioLiP*.txt.gz
output/*.pdb.gz
output/*.svg
foldseek/list
foldseek/receptor_DB*
foldseek/receptor_nr*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
